# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional
build/
include/sdsl
include/divsufsort*
include/multi_idx/perm*.hpp
lib/lib*
lib/pkgconfig
lib/perm*.cpp
data/test*
scripts/calcperm
scripts/out